@model Nop.Plugin.Payments.Qualpay.Models.PaymentInfoModel

@{
    Layout = "";
}

<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.UseStoredCard)").change(toggleUseStoredCard);
        toggleUseStoredCard();
    });

    function toggleUseStoredCard() {
        if ($('#@Html.IdFor(model => model.UseStoredCard)').is(':checked')) {
            $('#qualpay-card-details').hide();
        } else {
            $('#qualpay-card-details').show();
        }
    }
</script>

@if (!Model.IsGuest)
{
    <table width="100%" cellspacing="2" cellpadding="1" border="0">
        <tr>
            <td>
                <label asp-for="UseStoredCard">@T("Plugins.Payments.Qualpay.UseStoredCard"):</label>
            </td>
            <td>
                <input type="checkbox" asp-for="UseStoredCard" />
                <span asp-validation-for="UseStoredCard"></span>
            </td>
        </tr>
    </table>
}

<table width="100%" cellspacing="2" cellpadding="1" border="0" id="qualpay-card-details">
    <tr>
        <td>
            <label asp-for="CardholderName">@T("Payment.CardholderName"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardholderName" style="width:165px;" autocomplete="off" />
            <span asp-validation-for="CardholderName"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardNumber">@T("Payment.CardNumber"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardNumber" style="width:165px;" autocomplete="off" maxlength="22" />
            <span asp-validation-for="CardNumber"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="ExpireMonth">@T("Payment.ExpirationDate"):</label>
        </td>
        <td>
            <select asp-for="ExpireMonth" asp-items="Model.ExpireMonths"></select>
            /
            <select asp-for="ExpireYear" asp-items="Model.ExpireYears"></select>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardCode">@T("Payment.CardCode"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardCode" style="width:60px;" autocomplete="off" maxlength="4" />
            <span asp-validation-for="CardCode"></span>
        </td>
    </tr>
    @if (!Model.IsGuest)
    {
        <tr>
            <td>
                <label asp-for="SaveCardDetails">@T("Plugins.Payments.Qualpay.SaveCardDetails"):</label>
            </td>
            <td>
                <input type="checkbox" asp-for="SaveCardDetails" />
                <span asp-validation-for="SaveCardDetails"></span>
            </td>
        </tr>
    }
</table>